{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">新規作成フォーム</h1>
        <p class="lead">新しいTodoを作成しましょう</p>
      </div>
    </div>
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="保存">
    </form>
    </div>
    <div class="container">
        <p class="btn-content"><a href="{% url 'todo:todo_list' %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">一覧に戻る</a></p>
    </div>
{% endblock content %}